<div class="form-product_add">
    <h1>Add New Product</h1>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <select formControlName="Category">
      <option *ngFor="let category of categories" [ngValue]="category">{{category.title}}</option>
    </select>
        <input type="text" formControlName="Image" placeholder="Image URL" />
        <span *ngIf="imageForm.invalid && !imageForm.pristine">Image url is required.</span>
        <input type="text" formControlName="Title" placeholder="Product's title" />
        <span *ngIf="titleForm.invalid && !titleForm.pristine">Title is required.</span>
        <input type="number" formControlName="Price" placeholder="Product's price" />
        <span [hidden]="priceForm.pristine">
            <span [hidden]="!priceForm.errors?.min ">Price must be larger than 0.</span>
        <span [hidden]="!priceForm.errors?.required "> Price is required.</span>
        </span>
        <input type="text" formControlName="Description" placeholder="Product's description" />
        <button [disabled]="this.contactForm.invalid">Save</button>
    </form>
</div>