<app-content-projection-link>
    <ul>
        <li>
            <a #link href=" mailto:someone@example.com?Subject=Hello%20again "><img src="../../assets/img/gmail_logo.png" alt="gmail logo"></a>
        </li>
        <li>
            <a #link href="https://github.com/YevgeniGitin"><img src="../../assets/img/github_logo.png" alt="github logo"></a>
        </li>
        <li>
            <a #link href="https://www.facebook.com/"><img src="../../assets/img/facebook_logo.png" alt="facebook logo"></a>
        </li>
    </ul>
</app-content-projection-link>