<div class="container">
    <button *ngIf="action" class="back" (click)="goBack()">back</button>
    <div *ngIf="product | async;let p; else loading" class="box">
        <div class="productbox">
            <div class="closeContainer">
                <button class="close" *ngIf="!action && !this.userService.logIn" (click)="close()">X</button>
            </div>
            <h1>{{p.title}}</h1>
            <img [src]="p.image" [alt]="p.Title">
            <h3>Prise: {{p.price}} ILS</h3>
        </div>
        <div class="description">
            <p>{{p.description}}</p>
        </div>
        <div class="card_buttons">
            <button *ngIf="action && !this.userService.logIn" (click)="addItem(product)">Add to card</button>
            <button *ngIf="!action && !this.userService.logIn" (click)="removeItem(product)">Remove from card</button>
        </div>
    </div>
    <ng-template #loading>No Products In Card</ng-template>
</div>