<!--The content below is only a placeholder and can be replaced.-->
<div class="all_site" (wheel)="closeMenu()">
    <app-menu-bar *ngIf=showMenu class="menu" [selectedLanguage]="selectedLanguage" [@menuBar]="currentState"></app-menu-bar>
    <div class="container" (mouseover)="closeMenu()">
        <app-header class="header" (menu)="recivedMenuClick($event)" (selectedLanguage)="getLanguage($event)"></app-header>
        <div class="main-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>