.all_site {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.menu {
    background-color: rgb(205, 207, 207);
    height: 33.1em;
    width: 0;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(185, 214, 223);
    ;
}

.main-area-style {
    width: 100%;
    min-height: 25.1em;
}

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10em;
    background-color: rgb(78, 174, 238);
}