img {
    max-width: 1.5em;
    max-height: 1.5em;
}

img:hover {
    background-color: rgb(144, 146, 148);
}

ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}