<button class="back" (click)="goBack()">back</button>
<div class="box" [@fadeInOut]>
    <div class="productbox">
        <h1>{{product.Title}}</h1>
        <img [src]="product.Image" [alt]="product.Title">
        <h3>Prise: {{product.Price}} ILS</h3>
    </div>
    <div class="description">
        <p>{{product.Description}}</p>
    </div>
    <div class="card_buttons">
        <button *ngIf="action" (click)="addItem(product)">Add to card</button>
        <button *ngIf="!action" (click)="removeItem(product)">Remove from card</button>
    </div>
</div>